---
import type { GetStaticPaths } from 'astro';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getImageFromAlias } from '@/utils/image';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import { getRelativeLocaleUrl } from 'astro:i18n';

// Path function
export const getStaticPaths = (async () => {
  const artists: CollectionEntry<'artists'>[] = await getCollection('artists');

  return artists.map((artist: CollectionEntry<'artists'>) => ({
    params: { id: Number(artist.id.split('_', 1)[0]) },
    props: { artist }
  }));
}) satisfies GetStaticPaths;

// Components
import { Icon } from 'astro-icon/components';

// Injects
const { artist } = Astro.props;

// Constants
const names: string[] = [
  artist.data.name_zhcn,
  ...(artist.data.name_alts ?? [])
].filter((v: string | undefined): boolean => typeof v === 'string') as string[];
---

<BaseLayout class="bg-green-50" title={artist.data.name}>
  <main class="flex flex-col gap-8 max-w-[900px] mt-24 mx-4 lg:mx-auto">
    <a
      href={getRelativeLocaleUrl('zh-cn', '/')}
      class="flex gap-2 items-center select-none w-fit">
      <Icon name="logo" class="text-4xl" />
      <h1 class="font-bold leading-none text-3xl">Kirakira Lyrics</h1>
    </a>
    <div
      class="bg-white flex flex-col gap-4 items-center overflow-hidden rounded-lg sm:flex-row sm:pr-4"
      data-pagefind-body>
      <Image
        alt={artist.data.name}
        class="w-full lg:w-1/5 sm:w-[200px]"
        src={getImageFromAlias(artist.data.img!)}
      />
      <div class="pb-4 px-4 sm:pb-4 sm:px-0">
        <h1 class="font-bold text-xl" lang="jp">{artist.data.name}</h1>
        <h2 class="italic text-neutral-500 text-sm">{names.join(', ')}</h2>
        <p class="mt-4">{artist.data.tags?.join(', ')}</p>
      </div>
    </div>
  </main>
</BaseLayout>
